<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matterport Server</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

<div class="container">
    <div class="card">
        <a href="/11wordsid11/"></a>
        <img src="https://via.placeholder.com/400x300" alt="Card 1">
        <div class="card-overlay">Name to Display</div>
    </div>
    <div class="card">
        <a href="/11wordsid11/"></a>
        <img src="https://via.placeholder.com/400x300" alt="Card 2">
        <div class="card-overlay">Name to Display</div>
    </div>
    <div class="card">
        <a href="/11wordsid11/"></a>
        <img src="https://via.placeholder.com/400x300" alt="Card 3">
        <div class="card-overlay">Name to Display</div>
    </div>
    <div class="card">
        <a href="/11wordsid11/"></a>
        <img src="https://via.placeholder.com/400x300" alt="Card 4">
        <div class="card-overlay">Name to Display</div>
    </div>
    <div class="card">
        <a href="/11wordsid11/"></a>
        <img src="https://via.placeholder.com/400x300" alt="Card 5">
        <div class="card-overlay">Name to Display</div>
    </div>
    <div class="card">
        <a href="/11wordsid11/"></a>
        <img src="https://via.placeholder.com/400x300" alt="Card 6">
        <div class="card-overlay">Name to Display</div>
    </div>
</div>
<footer class="footer">
    <p>
        <a href="https://alirezadehghan.it" target="_blank">Created by Alireza Dehghan</a> | 
        <a href="https://github.com/alirezaxdehghan" target="_blank">GitHub</a>
    </p>
</footer>
</body>
</html>
